/*========== Imports ==========*/
@import "./abstracts/variables.scss";
@import "./abstracts/mixins.scss";
@import "./components/loader.scss";
@import "./layout/header.scss";
@import "./layout/footer.scss";
@import "./components/button-style.scss";
@import "./components/list-style.scss";
@import "./components/card.scss";
@import "./pages/restaurant.scss";
@import "./components/form.scss";

/*========== General ==========*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: white;
  width: 100%;
  font-family: $main-font;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  border: none;
}

/*========== Hero - section ==========*/
.reservation {
  background: $background;
  @include flex($direction: column, $justify: center, $align: center);
  padding: 0 0 60px 0;
  /* Media Queries */
  @include desktop {
    padding: 0 0 35px 0;
  }

  .reservation__title {
    @include flex($text: center);
    @include mixin-h1;
    /* Media Queries */
    @include desktop {
      font-size: 40px;
      padding-bottom: 30px;
    }
  }

  .reservation__content {
    @include flex($text: center);
    font-family: "Roboto";
    font-weight: 300;
    font-size: 18px;
    margin: 0 5px 30px 5px;
  }
}

/*========== Fonctionnement - section ==========*/
.guide {
  @include flex($direction: column, $gap: 26px);
  padding: 48px 20px 68px 20px;
  /* Media Queries */
  @include desktop {
    @include flex($direction: column, $align: center, $gap: 25px);
    padding-bottom: 55px;
  }

  &__title {
    @include mixin-h2;
    /* Media Queries */
    @include desktop {
      width: 100%;
      max-width: 1080px;
    }
  }

  &__list {
    @include flex($direction: column, $gap: 25px);
    font-weight: 500;
    /* Media Queries */
    @include desktop {
      @include flex($direction: row, $justify: center, $gap: 40px);
      width: 100%;
    }
  }
}

/*========== Restaurant - section ==========*/
.restaurants {
  @include flex($direction: column, $justify: center, $align: center);
  background-color: $background;
  padding: 48px 20px 48px 20px;

  @include desktop {
    padding-top: 30px;
    padding-bottom: 10px;
  }

  &__title {
    width: 100%;
    max-width: 1080px;
    @include mixin-h2;
    margin-bottom: 20px;
    /* Media Queries */
    @include desktop {
      padding-bottom: 10px;
    }
  }

  &__cards-container {
    @include flex($direction: row, $justify: center, $align: center);
    flex-wrap: wrap;
    width: 100%;
    max-width: 1080px;

    @include desktop {
      justify-content: space-between;
      gap: 30px;
    }
  }

  &__card-link {
    width: 100%;
    position: relative; // Badge "Nouveau" + coeur
    margin-bottom: 20px;

    @include desktop {
      width: calc((100% - 50px) / 2);
      max-width: 490px;
    }
  }
}
