.footer {
  @include flex($direction: column, $justify: center);
  color: $color-text-footer;
  padding: 22px 25px;
  background: $color-background-footer;

  /* Media Queries */
  @include tablet {
    @include footer-layout;
    padding: 22px 25px 22px 20px;
    gap: 30px;
    height: 114px;
  }
  @include desktop {
    @include footer-layout;
    gap: 40px;
    height: 114px;
  }

  .logo {
    @include flex($align: center);
    margin-bottom: 16px;
    font-family: $title-font;
    font-size: 18px;

    /* Media Queries */
    @include tablet {
      margin-bottom: 5px;
    }
    @include desktop {
      margin: 0 40px 10px 60px;
    }
  }

  ul {
    @include flex($direction: column, $gap: 10px);
    margin-bottom: 10px;

    /* Media Queries */
    @include tablet {
      flex-direction: row;
    }
    @include desktop {
      flex-direction: row;
    }

    li {
      @include flex($align: center, $gap: 5px);
    }
  }

  &__list {
    @include flex($direction: column, $gap: 7px);
  }

  &__link {
    @include flex($align: center, $gap: 10px);
    font-weight: 500;

    &--alt-size {
      font-weight: 400;
    }
  }

  /* Media Queries */
  .item1 {
    @include tablet {
      order: 3;
    }
    @include desktop {
      order: 3;
    }
  }

  .item2 {
    @include tablet {
      order: 1;
    }
    @include desktop {
      order: 1;
    }
  }

  .item3 {
    @include tablet {
      order: 2;
    }
    @include desktop {
      order: 2;
    }
  }
}
