/*=============== HEADER ===============*/
header {
  @include flex(column, center, center, center);

  img {
    height: 66px;
    padding: 14px 0;

    /* Media Queries */
    @include desktop {
      margin: 15px 0;
    }
  }
}

.location {
  @include flex(row, center, center, center);
  width: 100%;
  height: 50px;
  background-color: $background-location;
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  /* Media Queries */
  @include desktop {
    box-shadow: none;
  }

  &__content {
    @include flex(row, center, center, center, 17px);

    input {
      all: unset;
      width: 60%;
      background-color: $background-location;

      &::placeholder {
        @include mixin-text;
      }
    }
  }
}

/*=============== HEADER - Restaurants Pages ===============*/
header {
  position: relative;

  .return {
    position: absolute;
    left: 2%;
    i {
      font-size: 25px;
    }
  }
}
