.menu__form {
  @include flex($direction: column, $gap: 10px);

  .menu__category {
    font-size: 16px;
    font-weight: 300;
    height: 27px;
    position: relative;
    margin-top: 40px;

    &::after {
      content: ""; // Contenu vide pour créer un élément décoratif
      position: absolute; // Position absolue par rapport à l'élément parent
      width: 40px;
      left: 0px;
      bottom: 0px;
      height: 3px;
      background: $color--tertiary;
    }
  }

  .menu__list {
    @include flex($direction: column, $gap: 12px);

    .menucard {
      @include flex($justify: space-between, $align: center);
      background-color: white;
      @include shadow;
      position: relative;
      overflow: hidden; // Masquage du contenu débordant
      height: 70px;
      border-radius: 15px;
      padding: 0 15px;

      &__checkbox {
        display: none;
      }

      &__content {
        @include flex($gap: 5px);
        flex-flow: column nowrap;
        overflow: hidden;
        white-space: nowrap;

        .menucard__title {
          font-size: 18px;
          font-weight: 700;
          overflow: hidden; // Masquage du contenu débordant
          text-overflow: ellipsis; // Troncature du texte débordant avec des points de suspension
        }

        .menucard__text {
          font-size: 15px;
          font-weight: 300;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &__price {
        display: flex;
        align-self: flex-end;
        padding-bottom: 15px;
        font-weight: 700;
        font-size: 15px;
        transition: margin 300ms ease-in-out;
      }

      &__check {
        @include flex($justify: center, $align: center);
        background: $color--tertiary;
        color: white;
        position: absolute; // Position absolue par rapport à l'élément parent
        top: 0;
        bottom: 0;
        right: -$menucard-width;
        width: $menucard-width;
        transition: transform 300ms ease-in-out;

        .fa-check-circle {
          font-size: 20px;
        }
      }
    }

    // For Input check
    input:checked ~ .menucard__check {
      transform: translateX(-$menucard-width);
    }

    // For Price deplacement
    input:checked ~ .menucard__price {
      margin-right: $menucard-width;
    }
  }

  .button-style {
    @include flex($justify: center, $align: center);
    align-self: center;
    width: 186px;
    height: 50px;
    margin: 40px 0 8px;
  }
}

// Animation pour chaque élément de la liste de menu
.menu__list {
  opacity: 0;
  $max-items: 12;

  @for $i from 1 through $max-items {
    &:nth-of-type(#{$i}) {
      animation: fade-in 0.3s ease forwards ($i * 0.3s);
    }
  }
  // Keyframes pour l'animation de fondu
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
