/*========== Imports ==========*/
/*========== Variables ==========*/
/*** Colors ***/
/*** Font ***/
/*========== Typography ==========*/
/*========== Style Format ==========*/
/*========== Color Format ==========*/
/*========== Media queries ==========*/
.loader-position {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  text-align: initial;
  gap: initial;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10000;
  animation: loader-background 0.01s;
  animation-fill-mode: forwards;
  animation-delay: 1.75s;
}

.loader-spinner-logo {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  text-align: initial;
  gap: initial;
  padding: 10px;
  font-size: 100px;
  background: linear-gradient(0deg, #9356dc, #ff79da);
  background-clip: text;
  color: transparent;
  animation: rotate 2s linear infinite, fadeInOut 3s ease-in-out infinite;
}

.loader-spinner-logo p {
  margin-top: 10px;
  font-size: 50px;
  color: black;
}

@keyframes loader-background {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -9999;
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeInOut {
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
/*=============== HEADER ===============*/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: initial;
}
header img {
  height: 66px;
  padding: 14px 0;
  /* Media Queries */
}
@media (min-width: 768px) {
  header img {
    margin: 15px 0;
  }
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: initial;
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  /* Media Queries */
}
@media (min-width: 768px) {
  .location {
    box-shadow: none;
  }
}
.location__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 17px;
}
.location__content input {
  all: unset;
  width: 60%;
  background-color: #eaeaea;
}
.location__content input::placeholder {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
  color: #000;
}

/*=============== HEADER - Restaurants Pages ===============*/
header {
  position: relative;
}
header .return {
  position: absolute;
  left: 2%;
}
header .return i {
  font-size: 25px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  text-align: initial;
  gap: initial;
  color: white;
  padding: 22px 25px 22px 25px;
  background: #353535;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: initial;
    gap: 40px;
    height: 114px;
  }
}
.footer .logo {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: center;
  text-align: initial;
  gap: initial;
  margin-bottom: 16px;
  font-family: "Shrikhand", cursive;
  font-size: 18px;
}
@media (min-width: 768px) {
  .footer .logo {
    margin-left: 60px;
    margin-bottom: 10px;
    margin-right: 40px;
  }
}
.footer ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .footer ul {
    flex-direction: row;
  }
}
.footer ul li {
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  text-align: initial;
  gap: 7px;
}
.footer__link {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: center;
  text-align: initial;
  gap: 10px;
  font-weight: 500;
}
.footer__link--alt-size {
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer .item1 {
    order: 3;
  }
}
@media (min-width: 768px) {
  .footer .item2 {
    order: 1;
  }
}
@media (min-width: 768px) {
  .footer .item3 {
    order: 2;
  }
}

.button-style {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: initial;
  text-align: initial;
  gap: initial;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(0deg, #9356dc, #ff79da);
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
  color: #000;
  color: white;
  padding: 13px 19px 13px 19px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.button-style:hover {
  filter: brightness(110%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

/*========== List Guide ==========*/
.guide__item {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: center;
  text-align: initial;
  gap: initial;
  counter-increment: nbButton;
  width: 100%;
  /* Media Queries */
}
@media (min-width: 768px) {
  .guide__item {
    width: 100%;
    max-width: 335px;
  }
}
.guide__item:before {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  text-align: initial;
  gap: initial;
  content: counter(nbButton);
  z-index: 1;
  background-color: #9356dc;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.guide__item__icon {
  color: #7e7e7e;
}
.guide__item__icon--purple {
  color: #9356dc;
}
.guide__item__content {
  margin-left: -10px;
  width: 100%;
  border-radius: 20px;
  padding-left: 24px;
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: center;
  text-align: initial;
  gap: 23px;
  background-color: #f6f6f6;
  height: 72.38px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  text-align: initial;
  gap: 16px;
  height: 251px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.card--new:before {
  content: "Nouveau";
  position: absolute;
  right: 5%;
  top: 5%;
  width: 80px;
  height: 29px;
  line-height: 29px;
  text-align: center;
  background-color: #99e2d0;
  color: #008766;
  border-radius: 2px;
  font-weight: 500;
}
.card__image {
  border-radius: 15px 15px 0 0;
  height: 174px;
  object-fit: cover;
}
.card__content {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  text-align: initial;
  gap: 5px;
  padding: 0 25px 0 13px;
}

.heart-label {
  position: absolute;
  bottom: 30px;
  right: 23px;
  cursor: pointer;
}
.heart-label .fa-heart {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.heart-label .heart--regular {
  display: flex;
  font-size: 22px;
  position: absolute;
  transform-origin: center bottom;
  transition: opacity 600ms;
  opacity: 1;
}
.heart-label .heart--solid {
  display: flex;
  font-size: 22px;
  background-image: linear-gradient(to top, #ff79da, #9356dc);
  background-clip: text;
  color: transparent;
  opacity: 0;
}

.heart-checkbox {
  display: none;
}

input:checked + label .heart--regular {
  opacity: 0;
}

input:checked + label .heart--solid {
  opacity: 1;
}

.background {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  text-align: initial;
  gap: initial;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  position: relative;
  margin: -50px 0 0 0;
  padding: 32px 17px;
}
.menu .menu__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: initial;
  gap: 20px;
  white-space: nowrap;
}
.menu .menu__header .menu__title {
  font-size: 28px;
  font-weight: 400;
  font-family: "shrikhand";
}
.menu .heart-label {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  text-align: initial;
  gap: initial;
  position: relative;
  bottom: 0;
  right: 0;
}
.menu .heart-label .heart--regular,
.menu .heart-label .heart--solid {
  flex-direction: row;
  font-size: 24px;
}

.menu__form {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  text-align: initial;
  gap: 10px;
}
.menu__form .menu__category {
  font-size: 16px;
  font-weight: 300;
  height: 27px;
  position: relative;
  margin-top: 40px;
}
.menu__form .menu__category::after {
  content: "";
  position: absolute;
  width: 40px;
  left: 0px;
  bottom: 0px;
  height: 3px;
  background: #99e2d0;
}
.menu__form .menu__list {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  text-align: initial;
  gap: 12px;
}
.menu__form .menu__list .menucard {
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
  align-items: center;
  text-align: initial;
  gap: initial;
  background-color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
  height: 70px;
  border-radius: 15px;
  padding: 0 15px;
}
.menu__form .menu__list .menucard__checkbox {
  display: none;
}
.menu__form .menu__list .menucard__content {
  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
  overflow: hidden;
  white-space: nowrap;
}
.menu__form .menu__list .menucard__content .menucard__title {
  font-size: 18px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__form .menu__list .menucard__content .menucard__text {
  font-size: 15px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__form .menu__list .menucard__price {
  display: flex;
  align-self: flex-end;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 15px;
}

.button-style {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  text-align: initial;
  gap: initial;
  align-self: center;
  width: 186px;
  height: 50px;
  margin: 40px 0 8px;
}

/*========== General ==========*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: white;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  border: none;
}

/*========== Hero - section ==========*/
.reservation {
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: initial;
  gap: initial;
  padding: 0 0 60px 0;
  /* Media Queries */
}
@media (min-width: 768px) {
  .reservation {
    padding: 0 0 35px 0;
  }
}
.reservation .reservation__title {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: initial;
  text-align: center;
  gap: initial;
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 700;
  color: #000;
  padding: 30px 50px 18px 50px;
  /* Media Queries */
}
@media (min-width: 768px) {
  .reservation .reservation__title {
    font-size: 40px;
    padding-bottom: 30px;
  }
}
.reservation .reservation__content {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: initial;
  text-align: center;
  gap: initial;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  margin: 0 5px 30px 5px;
}

/*========== Fonctionnement - section ==========*/
.guide {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  text-align: initial;
  gap: 26px;
  padding: 48px 20px 68px 20px;
  /* Media Queries */
}
@media (min-width: 768px) {
  .guide {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    text-align: initial;
    gap: 25px;
    padding-bottom: 55px;
  }
}
.guide__title {
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 700;
  color: #000;
  /* Media Queries */
}
@media (min-width: 768px) {
  .guide__title {
    width: 100%;
    max-width: 1080px;
  }
}
.guide__list {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  text-align: initial;
  gap: 25px;
  font-weight: 500;
  /* Media Queries */
}
@media (min-width: 768px) {
  .guide__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: initial;
    text-align: initial;
    gap: 40px;
    width: 100%;
  }
}

/*========== Restaurant - section ==========*/
.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: 30px;
  gap: initial;
  background-color: #f6f6f6;
  padding: 48px 20px 48px 20px;
}
@media (min-width: 768px) {
  .restaurants {
    padding-top: 30px;
    padding-bottom: 10px;
  }
}
.restaurants__title {
  width: 100%;
  max-width: 1080px;
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
  /* Media Queries */
}
@media (min-width: 768px) {
  .restaurants__title {
    padding-bottom: 10px;
  }
}
.restaurants__cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: 18px;
  gap: initial;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1080px;
}
@media (min-width: 768px) {
  .restaurants__cards-container {
    justify-content: space-between;
    gap: 30px;
  }
}
.restaurants__card-link {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .restaurants__card-link {
    width: calc((100% - 50px) / 2);
    max-width: 490px;
  }
}

/*# sourceMappingURL=style.css.map */
