/*========== Imports ==========*/
/*========== Variables ==========*/
/*** Colors ***/
/*** Font ***/
/*========== Typography ==========*/
/*========== Style Format ==========*/
/*========== Color Format ==========*/
/*=============== HEADER ===============*/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: initial;
}
header img {
  height: 63px;
  padding: 14px 0;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: initial;
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.location .location__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 17px;
}
.location .location__content input {
  all: unset;
  width: 60%;
  background-color: #eaeaea;
}
.location .location__content input::placeholder {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
  color: #000;
}

.button-style {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: initial;
  text-align: initial;
  gap: initial;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(0deg, #9356dc, #ff79da);
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
  color: #000;
  color: white;
  padding: 13px 19px 13px 19px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.button-style:hover {
  filter: brightness(110%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

/*========== List Guide ==========*/
.guide__item {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: center;
  text-align: initial;
  gap: initial;
  counter-increment: nbButton;
  width: 100%;
}
.guide__item:before {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  text-align: initial;
  gap: initial;
  content: counter(nbButton);
  z-index: 1;
  background-color: #9356dc;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.guide__item__icon {
  color: #7e7e7e;
}
.guide__item__icon--purple {
  color: #9356dc;
}
.guide__item__content {
  margin-left: -10px;
  width: 100%;
  border-radius: 20px;
  padding-left: 24px;
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: center;
  text-align: initial;
  gap: 23px;
  background-color: #f6f6f6;
  height: 72.38px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

/*========== General ==========*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: white;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  border: none;
}

/*========== Hero - section ==========*/
.reservation {
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: initial;
  gap: initial;
  padding: 0 0 60px 0;
}
.reservation .reservation__title {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: initial;
  text-align: center;
  gap: initial;
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 700;
  color: #000;
  padding: 30px 50px 18px 50px;
}
.reservation .reservation__content {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: initial;
  text-align: center;
  gap: initial;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  margin: 0 5px 30px 5px;
}

/*========== Fonctionnement - section ==========*/
.guide {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  text-align: initial;
  gap: 26px;
  padding: 48px 20px 68px 20px;
}
.guide__title {
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 700;
  color: #000;
}
.guide__list {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  text-align: initial;
  gap: 25px;
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
