/*========== Variables ==========*/
/*** Colors ***/
$color--primary: #9356dc;
$color--secondary: #ff79da;
$color--tertiary: #99e2d0;
$color--new-font: #008766;
$background: #f6f6f6;
$background-location: #eaeaea;
$color-background-footer: #353535;
$color-text-footer: white;

/*** Font ***/
$main-font: "Roboto", sans-serif;
$title-font: "Shrikhand", cursive;

/*** Size - Menu ***/
$menucard-width: 70px;
